.breweryCard {
  border: darkolivegree#492a2d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.breweryCard:hover {
  opacity: 0.7;
}

body {
  background-color: #fdfbd1;
  color: #492a2d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: auto;
  margin:0;
}

h1 {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fdfbd1;

}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: medium;
  border-color: #492a2d;
}
form input {
  padding: 0.5rem;
  font-size: medium;
  border-color:   #492a2d;

}
form button {
  font-size: medium;
  padding: 0.5rem;
 color: #492a2d;

  background: white;
  cursor: pointer;
}
form select {
  font-size: medium;
  padding: 0.5rem;
 color: #492a2d;

  background: white;
  cursor: pointer;
}