.breweryCard {
  border: darkolivegree#492a2d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: rockwell;
  min-height: 30vh;
  padding-top: 1rem;
}

.breweryCard:hover {
  opacity: 0.7;
}

body {
  background-color: #fdfbd1;
  color: #492a2d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: auto;
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0;
  width: 100vw;
  max-width: 1800px;

  /* max-width: 1;
  max-height: auto; */
}

#container2 {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
  background-color: #fdfbd1;
}

h1 {
  margin: 0;
  font-size: 120px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfbd1;
  font-family: "fantasy", fantasy;
  text-shadow: 3px 3px maroon;
}

h2 {
  margin: 0;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfbd1;
  font-family: "fantasy", fantasy;
  text-shadow: 2px 2px maroon;
}

.form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: medium;
  border-color: #492a2d;
}

.form input {
  padding: 0.5rem;
  font-size: medium;
  border-color: #492a2d;
  background: #fdfbd1;
  margin-right: 1rem;
}

.form button {
  height: 44px;
  font-size: medium;
  padding: 0.5rem;
  color: #492a2d;
  background: #fdfbd1;
  cursor: pointer;
  margin-right: 1rem;
}

.form select {
  height: 44px;
  padding: 0.5rem;
  color: #492a2d;
  font-size: medium;
  border-color: maroon;
  background: #fdfbd1;
  cursor: pointer;
}
/* Even smaller Smartphones (phones) ----------- */
@media only screen and (min-device-width: 250px) and (max-device-width: 600px) {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 563px) {
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}
