.breweryCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: arial;
  min-height: 30vh;
  padding-top: 1rem;
}

.breweryCard:hover {
  opacity: 0.7;
}

body {
  background-color: darkgoldenrod;
  color: maroon;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-height: auto;
  margin: 0;
}

.container {
  margin: 0;
  width: 100vw;
}

#container2 {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
}

h1 {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: medium;
  border: maroon;
}

.form input {
  padding: 0.5rem;
  font-size: medium;
  border-color: maroon;
  margin-right: 1rem;
}

.form button {
  font-size: medium;
  padding: 0.5rem;
  color: maroon;
  background: white;
  cursor: pointer;
  margin-right: 1rem;
}

.form select {
  height: 44px;
  padding: 0.5rem;
  font-size: medium;
  border-color: maroon;
  background: white;
  cursor: pointer;
}

#container2 {
  background-color: grey;
}
